@font-face {
  font-family: "Suisse";
  src: url("./assets/font/SuisseIntl-Medium.otf");
}

/*******************************************************HOMEPAGE*******************************************************/
.container {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.inner-list {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.name {
  font-size: 20px;
  letter-spacing: 0.1em;
  display: inline-block;
  float: left;
  padding: 25px 80px;
  vertical-align: middle;
  color: black;
}

ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.sections_home {
  display: inline-block;
  font-family: "Suisse";
  font-size: 20px;
  line-height: 2;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding-left: 152.71px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  opacity: 0.6;
}

.fadeOutLeftAnim {
  animation: leftOut 0.3s ease-out 0s 1 normal forwards running;
  -webkit-animation: leftOut 0.3s ease-out 0s 1 normal forwards running;
  -moz-animation: leftOut 0.3s ease-out 0s 1 normal forwards running;
  -o-animation: leftOut 0.3s ease-out 0s 1 normal forwards running;
  -ms-animation: leftOut 0.3s ease-out 0s 1 normal forwards running;
}

.fadeInRightAnim {
  animation: rightIn 0.3s ease-in 0s 1 normal forwards running;
  -webkit-animation: rightIn 0.3s ease-in 0s 1 normal forwards running;
  -moz-animation: rightIn 0.3s ease-in 0s 1 normal forwards running;
  -o-animation: rightIn 0.3s ease-in 0s 1 normal forwards running;
  -ms-animation: rightIn 0.3s ease-in 0s 1 normal forwards running;
}

.fadeInDownAnim {
  animation: downIn 0.3s ease-in 0s 1 normal forwards running;
  -webkit-animation: downIn 0.3s ease-in 0s 1 normal forwards running;
  -moz-animation: downIn 0.3s ease-in 0s 1 normal forwards running;
  -o-animation: downIn 0.3s ease-in 0s 1 normal forwards running;
  -ms-animation: downIn 0.3s ease-in 0s 1 normal forwards running;
}

/*******************************************************SECTION HOME*******************************************************/

/* .works {
  --animate-delay: 0.1s;
}

.contact {
  --animate-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay:0.2s;
  -o-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
}

.about {
  --animate-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay:0.3s;
  -o-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
}

.social {
  --animate-delay: 0.4s;
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay:0.4s;
  -o-animation-delay: 0.4s;
  -ms-animation-delay: 0.4s;
} */

.works {
  opacity: 0;
}

.contact {
  opacity: 0;
  animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay:0.1s;
  -o-animation-delay: 0.1s;
  -ms-animation-delay: 0.1s;
}

.about {
  opacity: 0;
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay:0.2s;
  -o-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
}

.social {
  opacity: 0;
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay:0.3s;
  -o-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
}

/*******************************************************SECTION WORKS*******************************************************/

.photography {
  opacity: 0;
  pointer-events: none;
}

.video {
  opacity: 0;
  animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay:0.1s;
  -o-animation-delay: 0.1s;
  -ms-animation-delay: 0.1s;
  pointer-events: none;
}

.coding {
  opacity: 0;
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay:0.2s;
  -o-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  pointer-events: none;
}

/*******************************************************LEFT OUT*******************************************************/

@keyframes leftOut {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }

  100% {
    opacity: 0;
    transform: translateX(-150px);
  }
}

@-webkit-keyframes leftOut {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(-150px);
  }
}

@-moz-keyframes leftOut {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }

  100% {
    opacity: 0;
    transform: translateX(-150px);
  }
}

@-o-keyframes leftOut {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }

  100% {
    opacity: 0;
    transform: translateX(-150px);
  }
}

@-ms-keyframes leftOut {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }

  100% {
    opacity: 0;
    transform: translateX(-150px);
  }
}

/*******************************************************RIGHT IN*******************************************************/

@keyframes rightIn {
  0% {
    opacity: 0;
    transform: translateX(0px);
  }

  100% {
    opacity: 1;
    transform: translateX(-170px);
  }
}

@-webkit-keyframes rightIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0px, 0px, 0px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(-170px, 0px, 0px);
  }
}

@-moz-keyframes rightIn {
  0% {
    opacity: 0;
    transform: translateX(0px);
  }

  100% {
    opacity: 1;
    transform: translateX(-170px);
  }
}

@-o-keyframes rightIn {
  0% {
    opacity: 0;
    transform: translateX(0px);
  }

  100% {
    opacity: 1;
    transform: translateX(-170px);
  }
}

@-ms-keyframes rightIn {
  0% {
    opacity: 0;
    transform: translateX(0px);
  }

  100% {
    opacity: 1;
    transform: translateX(-170px);
  }
}

/*******************************************************DOWN IN*******************************************************/

@keyframes downIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@-webkit-keyframes downIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@-moz-keyframes downIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@-o-keyframes downIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@-ms-keyframes downIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
